### Numeric Data Types

In [1]:
n = 2
type(n)

int

In [2]:
n = 2.2
type(n)

float

In [3]:
com = 3+5j
type(com)

complex

### Convert Data Type

In [4]:
i =  9
f = float(i)
print(f , type(f))

9.0 <class 'float'>

In [5]:
i = int(f)
print(i , type(i))

9 <class 'int'>

In [6]:
dec_num = 9.9
convert_int = int(dec_num) #error (Reason --> Data ka Loss Python kbhi nahi kre ga)
convert_int

9

In [7]:
string = 'py'
integer = int(string) #error
integer

ValueError: invalid literal for int() with base 10: 'py'

In [ ]:
string = '22'
integer = int(string) #error
integer

TypeError: 'int' object is not callable

In [5]:
c = complex(2 , 5)
print(c , type(c))
# diff b/w
t = (2 , 5)
print(t , type(t))

(2+5j) <class 'complex'>
(2, 5) <class 'tuple'>

In [ ]:
# bool 
a , b = 10 , 20
c = a < b
c

True

In [10]:
a , b = 10 , 20
c = a > b
print(c , type(c))

False <class 'bool'>

In [ ]:
# check
int(True)

1

In [12]:
# check
int(False)

0

In [13]:
s = 'python'
type(s)

str

In [14]:
s = ''
type(s)

str

### sequence , list , tuple , range

In [15]:

lst = [10 , 20 , 30 , 40 , 50]
type(lst)

list

In [16]:
tup = (1 , 2 , 3 , 4 , 5)
type(tup)

tuple

In [25]:
r = range(18)
print(r , type(r))

# convert list 
lst = list(r)
print(lst)
print(type(lst))

# convert tuple 
tup = tuple(r)
print(tup)
print(type(tup))

range(0, 18) <class 'range'>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]
<class 'list'>
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17)
<class 'tuple'>

### Maping Dictionary

In [26]:
bio_data = {'Asif': 65436546 , 'Umer':2554252 , 'Furqan':25434332}
bio_data

{'Asif': 65436546, 'Umer': 2554252, 'Furqan': 25434332}

In [30]:
# dispaly particular value
bio_data['Furqan']

25434332

In [32]:
# display all values 
bio_data.values()

dict_values([65436546, 2554252, 25434332])

In [34]:
# display all keys 
bio_data.keys()

dict_keys(['Asif', 'Umer', 'Furqan'])

### Sets

In [36]:
s ={20 , 30 , 40 ,50}
print(s)
print(type(s))

{40, 50, 20, 30}
<class 'set'>