In [ ]:
# Dictinary are mutable

In [1]:
employee = {
    1 : 'John',
    2 : 'Andrew',
    3 : 'MikeHrtz',
    4 : 'SamAlth'
}
employee

{1: 'John', 2: 'Andrew', 3: 'MikeHrtz', 4: 'SamAlth'}

In [4]:
# keys
employee.keys()

dict_keys([1, 2, 3, 4])

In [6]:
# VALUES 
employee.values()

dict_values(['John', 'Andrew', 'MikeHrtz', 'SamAlth'])

In [7]:
copy_employee = employee.copy()
copy_employee

{1: 'John', 2: 'Andrew', 3: 'MikeHrtz', 4: 'SamAlth'}

In [ ]:
# get()
copy_employee.get(3) #pass key

'MikeHrtz'

In [10]:
print(copy_employee.get(5)) #pass unknown key

None

In [11]:
print(copy_employee.get(5 , 'Not Found'))

Not Found

In [12]:
copy_employee.setdefault(5 , 'JJ')

'JJ'

In [15]:
employee = copy_employee
employee

{1: 'John', 2: 'Andrew', 3: 'MikeHrtz', 4: 'SamAlth', 5: 'JJ'}

In [31]:
emp = {1: 'John', 2: 'Andrew', 3: 'MikeHrtz', 4: 'SamAlth', 5: 'JJ'}
removed = emp.pop(4)
removed

'SamAlth'

In [32]:

emp

{1: 'John', 2: 'Andrew', 3: 'MikeHrtz', 5: 'JJ'}

In [33]:
print('value remove',emp.popitem()) #popitem last element remove krta ha
print(type(emp.popitem()))
print(type(emp))

value remove (5, 'JJ')
<class 'tuple'>
<class 'dict'>

In [37]:
emp.clear()
emp

{}

In [ ]:
employee = {
    1 : 'John',
    2 : 'Andrew',
    3 : 'MikeHrtz',
    4 : 'SamAlth'
}
employee.items()

dict_items([(1, 'John'), (2, 'Andrew'), (3, 'MikeHrtz'), (4, 'SamAlth')])

In [44]:
type(employee.items())

dict_items

In [43]:
for k , v in employee.items():
    print(k , v)

1 John
2 Andrew
3 MikeHrtz
4 SamAlth