In [ ]:
def tax_calculation(taxt_rate , sales_amo):
    taxt_amount = taxt_rate * sales_amo
    print(taxt_amount) 

txtrate = 0.07
SalesAmount  = 890 # SALES = 890$ 
tax_calculation(txtrate , SalesAmount)

62.300000000000004

In [ ]:
def tax_calculation(taxt_rate , sales_amo):

    taxt_amount = taxt_rate * sales_amo
    print(taxt_amount)  # error is wajah sy k print ki jagah return hoga 

txt_rt = 0.07
sls_amt = 1000 
total_amount = sls_amt + tax_calculation(txt_rt , sls_amt)

tax_calculation(txt_rt , sls_amt)

70.0

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

In [30]:
def straight_line(m , x , b):

    y = m * x + b
    return(y)

slope = 3.3
intercept = 0.01
independent_var = 8

best_fit_line = intercept + straight_line(slope , independent_var , intercept)

straight_line(slope , independent_var , intercept)

26.41

In [ ]:
def straight_line(m , x , b):

    y = m * x + b
    return(y)

slope = 3.3
intercept = 0.01
independent_var = 8

best_fit_line = intercept + straight_line() #error 

straight_line(slope , independent_var , intercept)

TypeError: straight_line() missing 3 required positional arguments: 'm', 'x', and 'b'

In [ ]:
# solve above error 
# set default arguments 
def straight_line(m=1 , x=2, b=0.01):

    y = m * x + b
    return(y)

slope = 3.3
intercept = 0.01
independent_var = 8

best_fit_line = intercept + straight_line()

straight_line(slope , independent_var , intercept)

26.41

In [ ]:
# var length argument 
def addition(x , *y):

    z = x+y  #error
    print(z)

addition(3 , 7 , 2 , 9)

TypeError: unsupported operand type(s) for +: 'int' and 'tuple'

In [ ]:
# above error solve
# var length argument
def addition(x , *y):
    
    print(x)
    print(y)
    z = x

    for i in y:
        z = z+i  
    print(z)

addition(2 , 8 , 7 , 9)

2
(8, 7, 9)
26

In [ ]:
# var length argument
def addition(x , *y):

    print(x)
    print(y)
    print(type(y))

    z = x
    for i in y:
        z = z + i
        print(z)

addition(10 , 2 , 10 , 390 , 170 , 11)

10
(2, 10, 390, 170, 11)
<class 'tuple'>
12
22
412
582
593

In [ ]:
def add(x , *y):

    z = x+y #------>error (Reason (x=int + y=tuple)=Error)
    print(z)
    
add(3 , 5 , 7 , 10)    


def add(x , *y):

    print(x)
    print(type(x)) 
    print(y)
    print(type(y))

add(2 , 10 , 29 , 11)

2
<class 'int'>
(10, 29, 11)
<class 'tuple'>

In [10]:
# now above error problem handling 
def add(x , *y):

    for i in y:
        z = x + i
    print(z)    

add(11 , 56 , 1001 , 2.1 , 11)

22

In [15]:
def derivative(x , *y):

    apply_derivative_w_respect_t_z = x**2 + y**3
    print(apply_derivative_w_respect_t_z)

derivative(1 , 4 , 7 , 9 , 10)

TypeError: unsupported operand type(s) for ** or pow(): 'tuple' and 'int'

 ### f(z) = (x**2 + y**3)
 ### find derivative with respect to 'z'

In [1]:
def derivative(x , y):

        dz_over_dx = 2*((x)**(2-1)) * (1) 
        dz_over_dy = 3*((y)**(3-1)) * (1)
        differentiate_w_r_to_z_is = (dz_over_dx + dz_over_dy)
        
        print(f"dx/dz = {dz_over_dx}")
        print(f"dy/dz = {dz_over_dy}")
        print("f(z) = d(x,y)/dz = " , differentiate_w_r_to_z_is)

derivative(1 , 4)

dx/dz = 2
dy/dz = 48
f(z) = d(x,y)/dz =  50

In [ ]:
def df_dz(x , y):
    
    dfdx = 2 * x
    dfdy = 3 * (y ** 2)

    dzdx = 1
    dzdy = 1

    dfdz = dfdx * dzdx + dfdy * dzdy
    return dfdz


print(df_dz(1, 4))

50

In [ ]:
def derivative(x , *y):

    for i in y:
        # Q: f(z) = (x**2 + y**3)
        dz_over_dx = 2*(x)**(2-1) * (1) 
        dz_over_di = 3*(i)**(3-1) * (1)
        differentiate_w_r_to_z_is = (dz_over_dx + dz_over_di)
        
        print(f"dx/dz = {dz_over_dx}")
        print(f"dy/dz = {dz_over_di}")
        print("f(z) = d(x,y)/dz = " , differentiate_w_r_to_z_is)  

derivative(1 , 4 , 3 , 5 , 9)

dx/dz = 2
dy/dz = 48
f(z) = d(x,y)/dz =  50
dx/dz = 2
dy/dz = 27
f(z) = d(x,y)/dz =  29
dx/dz = 2
dy/dz = 75
f(z) = d(x,y)/dz =  77
dx/dz = 2
dy/dz = 243
f(z) = d(x,y)/dz =  245
245

In [ ]:
# keyword argumants
def student(name , phone , email):

    print(f'Name is {name}')
    print(f'Phone is {phone}')
    print(f'email is {email}')
    
student(name='Ali' , phone=1387484793 , email='helloworld@gmail.com')

Name is Ali
Phone is 1387484793
email is helloworld@gmail.com

In [ ]:
# keyword argumant
def student(name , phone , email):

    print(f'Name is {name}')
    print(f'Phone is {phone}')
    print(f'email is {email}')
    
student(name='Ali' , phone=1387484793 , email='helloworld@gmail.com' , city='Karachi') #error

TypeError: student() got an unexpected keyword argument 'city'

In [25]:
def student(name , **arguments):

    print(f'Name is {name}')

    for k , v in arguments.items():
        print(f'{k} = {v}')

student(name='Ali' , phone=164892345 , email='helloworld@gmail.com' , city='Karachi')

Name is Ali
phone = 164892345
email = helloworld@gmail.com
city = Karachi

In [22]:
def student(name , **arguments):

    print(f'Name is {name}')
    print(type(name))
    print(arguments)
    print(type(arguments))

student(name='Ali' , phone=113778936 , email='helloworld@gmail.com' , city='Karachi')

Name is Ali
<class 'str'>
{'phone': 113778936, 'email': 'helloworld@gmail.com', 'city': 'Karachi'}
<class 'dict'>

In [32]:
def student(name , **arguments):

    print(f'Name is {name}')

    for key_value in arguments.items():
        print(key_value)
        print(type(key_value))

student(name='Ali' , phone=164892345 , email= 'hellotechworld@gmail.com' , city='Karachi')

Name is Ali
('phone', 164892345)
<class 'tuple'>
('email', 'hellotechworld@gmail.com')
<class 'tuple'>
('city', 'Karachi')
<class 'tuple'>

## Practice

In [1]:
def my_funtion():

    print('Hello')

my_funtion()

Hello

In [9]:
def my_funtion(x , y):

    add=x+y
    print(add)

my_funtion(2 , 10)

12

In [10]:
def fuc(m , x , b):

    y = m*x + b
    print(y)

fuc(500 , 4 , 1000)

3000

Best way function calling

In [15]:
def dep_fuc(m , x , b):

    y = m * x + b
    print(f'(y = mx + b) = {y}')

slope = 500
my_input = 4
intercept = 1000

dep_fuc(slope , my_input , intercept)

(y = mx + b) = 3000

In [16]:
def dep_fuc(m , x , b):

    y = m * x + b
    print(y)

m = 500
x = 4
b = 1000
dep_fuc(m , x , b)

3000

In [ ]:
def square(x , y):

    power = x**y
    print(power)  #Error --> print() ko replace krna ha return sy
input1 = 10
input2 = 2
input3 = 18
add_square_and_input3 = input3 + square(input1 , input2)
add_square_and_input3

100

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

Above Error ka Solution

In [22]:
def square(x , y):

    power = x**y
    return power

input1 = 10
input2 = 2
input3 = 18
add_square_and_input3 = input3 + square(input1 , input2)
add_square_and_input3

118

In [27]:
def squaring(x , y , z):

    power = x**y**z
    return power

input1 , input2 , input3 = 10 , 2 , 3
input4 = 4
input4_plus_squaring = input4 + squaring(input1 , input2 , input3)
input4_plus_squaring

100000004

In [41]:
def squaring(x , y , z):

    power = x**y**z
    return power

input1 , input2 , input3 = 10 , 2 , 3
input4 = 4
input4_plus_squaring = input4 + squaring(input1 , input2 , input3)
print(input4_plus_squaring) 

if input4_plus_squaring > 10000000:
    print('Your amount is greater_than 10 Crore')

else:
    print('Your amount is less_than 10 Crore')

100000004
Your amount is greater_than 10 Crore

In [40]:
def squaring(x , y , z):

    power = x**y**z
    return power

input1 , input2 , input3 = 10 , 2 , 3
input4 = -4
input4_plus_squaring = input4 + squaring(input1 , input2 , input3)
print(input4_plus_squaring) 

if input4_plus_squaring > 10000000:
    print('Your amount is less_than 10 crore')

else:
    print('Your amount is greater_than 10 crore')

99999996
Your amount is less_than 10 crore