# Map function

In [ ]:
# normal fuction 
a = 4
def square(x):
    return x**2

print(square(a))

# Map
aList = [1 , 2 , 3 , 4 , 5]

def square(x):
    return x**2

list(map(square , aList))

16

[1, 4, 9, 16, 25]

In [ ]:
a = [1 , 2 , 3 , 4 , 5]

def square(x):
    return x**2

print(square(a)) #error

TypeError: unsupported operand type(s) for ** or pow(): 'list' and 'int'

In [ ]:
# Map
aList = [1 , 2 , 3 , 4 , 5]
def square(x):
    
    return x**2

list(map(square , aList))

[1, 4, 9, 16, 25]

In [ ]:
# without map 
aList =  [1 , 2 , 3 , 4 , 5]

def square(x):

    return x

for square in aList:
    print(square*square)

1
4
9
16
25

In [ ]:
aList = [1 , 2 , 3 , 4 , 5]

list(map(lambda p:p*p , aList))

[1, 4, 9, 16, 25]

In [ ]:
li = [1 , 2 , 3 , 4 , 5 , 6 , 7 , 8 , 9 , 10 , 11 , 12 , 13 , 14 ,15 , 16 , 17 , 18 , 19 , 20]

list(map(lambda n : n*n , li))

[1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400]

In [ ]:
aLi = [1 , 3 , 5 , 7 , 9] 
def square(x):

    return x**2

my_list =  map(square , aLi)
list(my_list)

[1, 9, 25, 49, 81]

In [ ]:
aLi = [1 , 3 , 5 , 7 , 9] 
def square(x):

    return x**2

list(map(square , aLi))

[1, 9, 25, 49, 81]

In [ ]:
ListIntegers = [1 , 5 , 9 , 13 , 17 , 21]

def square(x):
    
    return x*x

print(list(map(square , ListIntegers)))

print('Difference B/w')

def square(x):

    return x*x
print(tuple(map(square , ListIntegers)))

[1, 25, 81, 169, 289, 441]
Difference B/w
(1, 25, 81, 169, 289, 441)

In [ ]:
ListIntegers = [1 , 5 , 9 , 13 , 17 , 21]

print(list(map(lambda square : square * square , ListIntegers)))

print('Difference B/w')

print(tuple(map(lambda square : square * square , ListIntegers)))

[1, 25, 81, 169, 289, 441]
Difference B/w
(1, 25, 81, 169, 289, 441)

In [ ]:
a_list = [1 , 3 , 5 , 7]

# use normal function & map 
def squaring(x):

    return x**2

print(list(map(square , a_list)))

print('difference b/w')

# use lambda function & map
print(list(map(lambda squaring : squaring*squaring , a_list)))

[1, 9, 25, 49]
difference b/w
[1, 9, 25, 49]

In [ ]:
b_list = [1 , 3 , 5 , 7]

# use normal function & map
def squaring2(x):

    return x**2

print(tuple(map(squaring2 , b_list)))

print('Differrence B/W')

# use lambda function & map
print(tuple(map(lambda squaring2 : squaring2 * squaring2 , b_list)))

(1, 9, 25, 49)
Differrence B/W
(1, 9, 25, 49)

## filter function

In [ ]:
num_list = [1 , 2 , 3 , 4 , 5]

even = list(filter(lambda n : n%2 == 0 , num_list))
print(f'list only even numbers = {even}')

list only even numbers = [2, 4]

In [ ]:
numeric_tuple = (1 , 3 , 5 , 7 , 8 , 9)

odd = tuple(filter(lambda n : n%2 == 1 , numeric_tuple))
odd

(1, 3, 5, 7, 9)

In [ ]:
# map & filter fn iteration wali condition k saaath use krtay hain  
numeric_tuple = (1 , 2 , 3 , 4 , 5 , 6 , 7)

even = list(filter(lambda n : n%2 == 0 , numeric_tuple))
even

[2, 4, 6]

## ruduce function

In [ ]:
# .syntax reduce() --> reduce(lambda total , y : total + y , iteration) 
# .lambda main 2 hi argument pss hogi jb jb lambda fn reduce() k saath use hoga

from functools import reduce
NumList = [1 , 2 , 3 , 4 , 5]

redu = reduce(lambda total , y : total + y , NumList)
print(redu)

NumericList = [1 , 2 , 3 , 4 , 5]

r = reduce(lambda n , m : n+m , NumericList)
print(r)

15
15

In [ ]:
num_list = [1 , 3 , 5]

re = reduce(lambda m , x : m * x , num_list)
re

15

In [ ]:
n_list = [1 , 2 , 4 , 6]

# Working Rule reduce function:
# total = 1 + next = 2 = 3
# total = 3 + next = 4 = 7
# total = 7 + next = 6 = 13
# output = 13        

re = reduce(lambda total , next : total + next  , n_list)
print(f'Output = {re}')

Output = 13