In [1]:
str_var = 'var_for_str'
str_var

'var_for_str'

In [2]:
int_var = 2
int_var

2

In [3]:
str_var = '22'
str_var

'22'

In [4]:
name = 'JOHN'
age = 30
salary = 200000.0

print(name , age  ,salary)

JOHN 30 200000.0

In [5]:
x = 10
y = 12
print(x+y)

22

In [6]:
x = 10
y = 12
add = x+y
print(add)

22

In [7]:
print(x)

10

In [8]:
print(X) #ERROR

NameError: name 'X' is not defined

In [ ]:
NAME , name , Name = 'Umer' , 'Farooq' , 'Ali'
print(Name)

Ali

In [ ]:
ORANGE = BANANA = KIWI  = APPLE   = 'IS A Fruit'  
print(KIWI)

IS A Fruit

## Concatenation 
there are 3 types of concatenation 
1. plus operator(+)
2. f str method
3. dotformat method( .format )

In [ ]:
# 1. (+)
name = 'Hafiz' + 'Yahya'
print(name)

HafizYahya

In [ ]:
name = 'python' + 7 #error
name

TypeError: can only concatenate str (not "int") to str

In [ ]:
num_str = '7'+'7' 
num_str

'77'

In [ ]:
# 2. f str
f_name , l_name = 'Hafiz' , 'Yahya'
print(f'{f_name}{l_name}')
# diff b/w 
print(f'{f_name} {l_name}')

HafizYahya
Hafiz Yahya

In [ ]:
# 3. dot format

In [ ]:
first_name , last_name = 'Hafiz' , 'Yahya'
full_name = first_name,last_name
print(type(full_name))

<class 'tuple'>

In [ ]:
first_name = 'Hafiz'
last_name = 'Yahya'
full_name = first_name,last_name  #strings convert to tuple
print(full_name , type(full_name))

print('\n---Difference_b/w_Above_&_Below---\n')

FullName = ('Hafiz' , 'Yahya') #This is a tuple
print(FullName , type(FullName)) 

print('\n---Difference_b/w_Above_&_Below---\n')

first_name = 'Hafiz'
last_name = 'Yahya'
full_name = first_name+last_name  #concatenation 
print(full_name , type(full_name))

('Hafiz', 'Yahya') <class 'tuple'>

---Difference_b/w_Above_&_Below---

('Hafiz', 'Yahya') <class 'tuple'>

---Difference_b/w_Above_&_Below---

HafizYahya <class 'str'>

In [ ]:
str_var = 'This_is_a_snake_case_var_name'
str_var

'This_is_a_snake_case_var_name'

In [ ]:
StringVariable = 'ThisIsPascalCaseVariableName'
StringVariable

'ThisIsPascalCaseVariableName'

## String indexing

In [ ]:
name = 'Python'
name[0]

'P'

In [ ]:
name[0:]

'Python'

In [ ]:
name[0:3]

'Pyt'

In [ ]:
name[-1]

'n'

In [ ]:
name[-3:-1]

'ho'

In [ ]:
name[:-1]

'Pytho'

In [ ]:
name[:]

'Python'