In [1]:
# While Condition
    # Do something
    # Do something

x = 1
while x < 5:
    print('Hello')
    x += 1  #increment kiya augment statement k through

Hello
Hello
Hello
Hello

In [2]:
x = 1
while x < 5:
    print('Hello:' + str(x))
    x += 1  #increment kiya augment statement k through
    
    # Nested Loop
    z = 1
    while z < 7:
        print('Python:' + str(z))
        z += 1

Hello:1
Python:1
Python:2
Python:3
Python:4
Python:5
Python:6
Hello:2
Python:1
Python:2
Python:3
Python:4
Python:5
Python:6
Hello:3
Python:1
Python:2
Python:3
Python:4
Python:5
Python:6
Hello:4
Python:1
Python:2
Python:3
Python:4
Python:5
Python:6

In [3]:
# for loop iteretor over a sequence like range str list etc
for wishes in range(5):
    print('BirthDay')

BirthDay
BirthDay
BirthDay
BirthDay
BirthDay

In [4]:
for wishes in range(6):
    print('BirthDay:' + wishes) #error (concatenation)

TypeError: can only concatenate str (not "int") to str

In [ ]:
for wishes in range(6):
    print('Birthday:' + str(wishes)) #solve error

Birthday:0
Birthday:1
Birthday:2
Birthday:3
Birthday:4
Birthday:5

In [ ]:
for wishes in range(6):
    print(f'BirthDay:{wishes}') #use concatenation method#2 (f string methood)

BirthDay:0
BirthDay:1
BirthDay:2
BirthDay:3
BirthDay:4
BirthDay:5

In [ ]:
for wishes in range(10 , 30): #set range(10 to n-1)
    print(f"BirthDay:{wishes}")

BirthDay:10
BirthDay:11
BirthDay:12
BirthDay:13
BirthDay:14
BirthDay:15
BirthDay:16
BirthDay:17
BirthDay:18
BirthDay:19
BirthDay:20
BirthDay:21
BirthDay:22
BirthDay:23
BirthDay:24
BirthDay:25
BirthDay:26
BirthDay:27
BirthDay:28
BirthDay:29

In [ ]:
for wishes in range(1 , 10):
    if wishes == 5:
        continue
    else:
        print(f'Birthday:{wishes}')

Birthday:1
Birthday:2
Birthday:3
Birthday:4
Birthday:6
Birthday:7
Birthday:8
Birthday:9

In [ ]:
for wishes in range(1 , 12 , 2):
    if wishes == 7:
        continue
    else:
        print(f'BirthDay:{wishes}')

BirthDay:1
BirthDay:3
BirthDay:5
BirthDay:9
BirthDay:11

In [ ]:
for wishes in range(1 , 12):
    if wishes == 5:
        break
    else:
        print(f'BirthDay:{wishes}')

BirthDay:1
BirthDay:2
BirthDay:3
BirthDay:4

In [ ]:
for wishes in range(1 , 12 , 2):
    if wishes == 3 or wishes == 9:
        break
    else:
        print(f'Birthday:{wishes}')

Birthday1

Difference B/w Above & Below

In [ ]:
for wishes in range(1 , 12 , 2):
    if wishes == 3 and wishes == 9:
        break
    else:
        print(f'BirthDay:{wishes}')

BirthDay:1
BirthDay:3
BirthDay:5
BirthDay:7
BirthDay:9
BirthDay:11

In [ ]:
for wishes in range(1 , 12 , 3):
    if wishes == 7:
        continue
    else:
        print(f'BirthDay:{wishes}')
print('Loop is ended')

BirthDay:1
BirthDay:4
BirthDay:10
Loop is ended

In [ ]:
# using list 
countries = ['Pakistan' , 'USA' , 'India' , 'Canada' ,'Australia']
for i in countries:
    print(i)

Pakistan
USA
India
Canada
Australia

In [ ]:
# using str 
string = 'python'
for i in string:
    print(i)

p
y
t
h
o
n